.header{
    background-color: var(--backgroundcolor);
    
    *{
        background-color: var(--backgroundcolor);
    }
    div{

        align-items: center;
    }
    .ant-input-search{
        border-radius: 24px;
        overflow: hidden;
        *{
            background-color:var(--normaltext);
            
        }
        .ant-input-wrapper {
            border-radius: 20px;
            
        }
        input{
            border: none;
            outline: none;
            

        }   
        button{
            border: none;
        }
    }
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        li{
            font-size: 12px;
            a{
                color:#fff;
                padding:10px;

            }
            a:focus{
                background-color: var(--normaltext);
                border-radius: 12px;
                color:var(--blackcolor);
            }
            + a:focus{
                background-color: var(--normaltext);

            }
        }

    }
}