:root{
    --backgroundcolor:rgba(243, 155, 19, 1);
    --normaltext : #fff ;
    --headertext: rgba(245, 204, 41, 1);
    --bordercolor:rgba(151, 151, 151, 1);
    --pinktext:rgba(244, 67, 54, 1);
    --contentBlackColor:rgba(26, 25, 23, 1);
    --blackcolor:rgba(26, 25, 23, 1);
    --graytext:rgba(169, 169, 169, 0.8);
    --footertext:rgba(255, 255, 255, 0.7);
    --yellowcolor:rgba(245, 204, 41, 1);
    
}
body{
    background-color: #000;
}

